@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --height-nav:100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.nav{
     background:  linear-gradient(rgb(166, 166, 177),steelblue);
    height: var(--height-nav);
    color: #fff;
}
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav__link{
    
    color: #fff;
    margin-left: 1em;
}
.nav__img{
    display: block;
}

@media screen  and (max-width:900px){
    :root{
        --height-nav:100px;
    }
      .nav__container{
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    
}
@media screen  and (max-width:768px){
    .nav{
         --height-nav:120px;
    }
   .nav__links{
    
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
   }  
    
}